:root {
  --color-main: #0075ff;
  --color-white: #ffff;
  --color-black: #000000;
  --color-gray: #5c5c5c;
  --color-green: #01b574;
  --color-dark-blue: "#090D2E";
  --light-blue: #a0aec0;
  --icon-bg: #1a1f37;
  --dark-green: #1fe5b761;
  --dark-red: #df0404;
  --light-red: #ffc5c5;
  --error-color: #dc2626;
  --error-bg: #fef2f2;
  --color-gray: #56577a;
  --light-blue: #a0aec0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(77, 77, 77, 0.582);
  -webkit-border-radius: 5px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--color-main);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(255, 255, 255, 0.411);
}
html,
body {
  padding: 0px;
  overflow-x: hidden;
}





.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
